/**/.idea
/server_o-starter/venv
/**/__pycache__
/server_o-starter/o_starter/db.sqlite3
/development_diary.md
/server_o-starter/o_starter/startlists/migrations

/inputs

*.iml
.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
.DS_Store
**/build
**/captures
.externalNativeBuild
.cxx
local.properties
